<div class="side-bar-header">
  <div class="delete-room">
    <a href="#">削除</a>
  </div>
  <div class="exit-room">
    <a href="#">退出</a>
  </div>
</div>

<div class="rooms">
</div>

<div class="rooms-footer">
</div>